* {
    background-color: black;
    color: white;
}
h1, h2, h3{
    font-family: 'Barrio', cursive;
}
p, li, h4, a{
    font-family: 'Days One', sans-serif;
}
h1, h2 {
    text-align: center;
}
h2{
    padding-bottom: 4rem;
}
img{
    height: auto;
}
.hm{
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    color: #CA95EA;
}
.error{
font-size: 4rem;
}
.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.ebtn{
    background-color: #CA95EA;
    color: black;
    font-family: 'Days One', sans-serif;
    padding: 1rem;
    border: none;
}
.bb{
    text-align: center;
}
.elow{
font-size: 3rem;
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: overline;
    padding-left: 0;
}

.menu-items {
    list-style-type: none;
    text-decoration: overline;
    padding-inline-start: 0px;
    margin: auto;
}
.bod{
    padding-left: 27%;
    margin: auto;}

a{
    text-decoration: none;
}

li{
    padding: .5rem;

}
p{
    display: block;
    margin: auto;
    max-width: 50%;
    padding-bottom: 2rem;
}
.big_img{
    display: block;
    margin: auto;
    max-width: 50%;
    height:auto;
}
.mov{
    display: block;
    margin: auto;
    max-width: 50%;
    height:auto;
}
.cent{
    text-align: center;
    padding-bottom: 1rem;
}
.list-img{
    display: block;
    width: 40%;
    margin: auto;
}
.sch-r{
    padding-left: 25%;
}
button{
    background-color: #CA95EA;
    color: black;
    font-family: 'Days One', sans-serif;
    padding: 1rem;
    border: none;
}
@media screen and (max-width: 600px) {
    p{
        display: block;
        margin: auto;
        max-width: 70%;
        padding-bottom: 2rem;
    }
    .big_img{
        display: block;
        margin: auto;
        max-width: 70%;
        height:auto;
    }
    .mov{
        display: block;
        margin: auto;
        max-width: 70%;
        height:auto;
    }
    .error{
        font-size: 3rem;
        }
    .elow{
        font-size: 2rem;
        }
}
